body {
    font-family: sans-serif;
    text-align: center;
}

div {
    margin-top: 3em;
    display: flex;
    flex-direction: column;
}

a {
    background-color: #4c77af;
    color: white;
    padding: 1em 1.5em;
    margin: 1em auto;
    border: none;
    border-radius: 0.3em;
    cursor: pointer;
    text-decoration: none;
    width: 5em;
}

a:hover {
    background-color: #3e6291;
}