body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    /* background-color: #f4f7fa; */
}

h1 {
    text-align: center;
    margin-top: 2em;
}

form {
    /* width: 60%;
    background-color: #ffffff;
    padding: 40px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
    border-radius: 10px; */
    margin: 40px auto;
    max-width: 56.25em;
    padding: 2em;
}

fieldset {
    margin-bottom: 3em;
    padding: 3em;
    border-radius: 2em;
}

legend {
    font-size: 24px;
    font-weight: bold;
    /* color: #444; */
    padding: 0 0.5em;
    /* text-align: center; */
}

label {
    /* font-size: 16px; */
    /* color: #333; */
    margin-bottom: 8px;
    display: block;
}

input[type="text"],
input[type="tel"],
input[type="number"],
input[type="password"],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 20px;
    font-size: 16px;
    box-sizing: border-box;
    background-color: #f9f9f9;
}

input[type="text"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
select:focus,
textarea:focus {
    border-color: #007bff;
    outline: none;
}

input[type="checkbox"],
input[type="radio"] {
    margin: 0 10px 0 0;
    vertical-align: middle;
}

fieldset label[for="userdata_showpassword"],
fieldset label[for="musica"],
fieldset label[for="manualidades"],
fieldset label[for="deporte"],
fieldset label[for="artes"],
fieldset label[for="videojuegos"],
fieldset label[for="lectura"] {
    /* font-size: 14px; */
    display: inline-block;
    margin-right: 1.25em;
}

input[type="checkbox"]:not(:last-child),
input[type="radio"]:not(:last-child) {
    margin-right: 1.25em;
}

input[type="submit"] {
    background-color: #007bff;
    color: white;
    padding: 1em;
    font-size: 1.1em;
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s;
    box-sizing: border-box;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

a {
    display: block;
    text-align: center;
    margin-top: 40px;
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

textarea {
    resize: none;
    height: 120px;
}

input[disabled] {
    background-color: #f0f0f0;
    cursor: not-allowed;
}

/* input {
    border: 2px solid;
    border-radius: 4px;
    font-size: 1rem;
    margin: 0.25rem;
    min-width: 125px;
    padding: 0.5rem;
    transition: border-color 0.5s ease-out;
  } */
  input:optional {
    border-color: gray;
  }
  input:required:valid {
    border-color: green;
  }
  /* input:invalid {
    border-color: red;
  } */
  input:required:focus:valid {
    background: url("https://assets.digitalocean.com/labs/icons/hand-thumbs-up.svg") no-repeat 95% 50% lightgreen;
    background-size: 25px;
  }
  input:focus:invalid {
    background: url("https://assets.digitalocean.com/labs/icons/exclamation-triangle-fill.svg") no-repeat 95% 50% lightsalmon;
    background-size: 25px;
  }